<br>
<div class="container d-flex justify-content-center">
  <div class="card card-small mb-4">
    <div class="card-header border-bottom">
      <h4 class="m-0">Liste des patients</h4>
    </div>
  <div class="table-responsive" style="margin: 0 auto;">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Age</th>
          <th scope="col">N° Téléphone</th>
          <th scope="col">E-mail</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users; let i = index">
          <td>{{user.nom}}</td>
          <td>{{user.prenom}}</td>
          <td>{{user.age}}</td>
          <td>{{user.tel}}</td>
          <td>{{user.email}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary" routerLink="/admin/patient/etats/{{user._id}}">Consulter son état</button>
            <button class="btn btn-sm btn-danger" (click)="delete(book._id, i)">Supprimer</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

