<br>
<div class="container mt-5 mb-5 mr-10 mg-10">
  <div class="card card-small mb-4">
    <div class="card-header border-bottom">
      <h4 class="m-0">Etat</h4>
    </div>
    <br>
    <button class="btn btn-sm btn-primary" >Consulter à nouveau l'état du patient</button>
    <br>
  <div class="table-responsive" style="margin: 0 auto;">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Température</th>
          <th scope="col">SPo2</th>
          <th scope="col">Bpm</th>

          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etat of Etat; let i = index">
          <th scope="row">{{etat.date}}</th>
          <td>{{etat.temprature}}</td>
          <td>{{etat.SPo2}}</td>
          <td>{{etat.bpm}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary" routerLink="/admin/patient/ajoutOrdo/{{etat.Patient}}">Ajouter Ordonnance</button>
            <button class="btn btn-sm btn-primary" routerLink="/admin/patient/ajoutRap/{{etat.Patient}}">Ajouter Rapport</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
