<br>
      <h6 class="m-0">Ajouter un rapport</h6>

    <ul class="list-group list-group-flush">
      <li class="list-group-item p-3">
        <div class="row">
          <div class="col">
      <form [formGroup]="OrdForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-md-6">
          <label>Medicament</label>
          <input class="form-control" type="text" formControlName="descpription" required>
        </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Ajouter rapport</button>
        </div>
      </form>
  </div>
</div>
</li>
</ul>

