<div class="home">
  <div class="breadcrumbs_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="breadcrumbs">
            <ul>
              <li><a routerLink="/">Accueil</a></li>
              <li>Qui sommes-nous?</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- About -->

<div class="about">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <h2 class="section_title">Bienvenue à DIGITALIS</h2>
          <div class="section_subtitle"><p></p></div>
        </div>
      </div>
    </div>
<button class="btn btn-sm btn-danger" (click)="onSubmit()">Delete</button>
